*{
  background-color: black;
}
.name{
  color: yellow;
  font-size: 60px;
  font-family: Death Star;
}
.item{
  color:yellow;
  font-size: 30px;
}

.data
{
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -4em;
	font-size: 350%;
	font-weight: bold;
	text-align: center;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(10deg);
}


.data:after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

.datacontent
{
	position: absolute;
	top: 100%;
	animation: scroll 100s linear 2s infinite;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}
